@use 'sass:math';

$sidebar-opened-width: 180px;
$sidebar-closed-width: 64px;

%flex-layout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  box-sizing: border-box;
}

.layout {
  display: grid;
  position: relative;
  grid-template-areas:
    'header header '
    'sidebar main '
    'footer footer  ';
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: #222;
}

header {
  grid-area: header;
  color: #fff;
  padding: 1rem;
  height: 60px;
}

footer {
  grid-area: footer;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: #222;
  color: #fff;
  padding: 1rem;
  z-index: 999;
}

aside {
  height: 100%;
  left: 0;
  top: 60px;
  position: fixed;
  grid-area: sidebar;
  background-color: #ccc;
  transition: all 0.2s ease;
  width: $sidebar-closed-width;
}

aside.open {
  left: 0; /* move to show sidebar when open */
  width: $sidebar-opened-width;
}

main {
  grid-area: main;
  background-color: #efefef;
  padding: 1rem;
  overflow: auto;
  margin-left: $sidebar-closed-width;
  transition: all 0.2s ease;
}

main.open {
  margin-left: $sidebar-opened-width;
}

.layout-content {
  background-color: #fff;
  height: 100%;
  width: 100%;
}

section {
  padding: math.div($base-padding, 4) $base-padding;
  .title {
    font-size: $font-size-lg;
  }
  .description {
    font-size: $font-size-md;
    color: #555;
  }
}
